PORT=3000

TEMPLATE_JWT_SECRET=template-jwt-secret

POSTGRES_USER=template_db_user
POSTGRES_PASSWORD=template_db_pass
POSTGRES_DB=template_db
POSTGRES_PORT=5432

DATABASE_URL=postgres://template_db_user:template_db_pass@localhost:5432/template_db

REDIS_PORT=6379